.footer {
    background-color: rgba(0, 0, 0, 0.768);
    padding: 20px 0;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 10vh;

    justify-content: space-between;
}

.container>a {
    text-decoration: none;
    color: #fff;
}

.logo {
    /* height: 40px; */
    width: 140px;
    object-fit: cover;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #3b82f6;
}

.copyright {
    margin-top: 15px;
    color: #fff;
    font-size: 14px;
}

@media only screen and (max-width:766px) {
    .container {
        flex-direction: column;
        justify-content: center;
        height: 14vh;
        gap: 0.4em;
    }

    .footer-links {
        margin-top: 0px;
    }
}


@media only screen and (min-width: 768px) and (max-width:1023px) {
    .container {
        justify-content: center;
        gap: 1.5em;
    }
}